.page-contents {
    height: 100%;
    width: 100%;
}

.page-contents .affiliation-content {
    height: 100%;
    width: 100%;
    padding: 100px 0;
    background-color: bisque;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.page-contents .affiliation-content .text-box {
    background-color: rgb(251, 218, 218);
    width: 30%;
    border-radius: 20px;
    padding: 18px 18px 18px 25px;
    box-shadow: -5px 5px 10px black;
}

.page-contents .affiliation-content .text-box h1 {
    text-align: left;
    text-transform: uppercase;
    font-size: 50px;
    display: inline-block;
    position: relative;
    cursor: default;
}

.page-contents .affiliation-content .text-box p {
    padding-top: 30px;
}

.page-contents .affiliation-content .text-box h1::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #0087ca;
    transform-origin: right;
    transition: transform 0.25s ease-in-out;
}

.page-contents .affiliation-content .text-box h1:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

.page-contents .affiliation-content .img-box {
    height: 100%;
    width: 30%;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: -5px 5px 10px black;
}

.page-contents .affiliation-content .img-box img {
    height: 100%;
    width: 100%;
}
