.page-contents {
    height: 100%;
    width: 100%;
}

.page-contents .text-box1 {
    margin-top: 125px;
    border: 1px solid black;
}

.page-contents .text-box2 {
    border: 1px solid black;
}

.page-contents .text-box3 {
    border: 1px solid black;
}

.page-contents .text-box4 {
    border: 1px solid black;
}

.page-contents .text-box5 {
    border: 1px solid black;
}