.page-contents {
    height: 100%;
    width: 100%;
}

.page-contents .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 0;
    background: url("background.jpg") center / cover no-repeat;
}

.page-contents .container span {
    font-size: 50px;
    font-weight: bold;
}

.page-contents .container .boxes {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

.page-contents .container .boxes .box {
    height: 100%;
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px;
    margin: 50px 0;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(50px);
    border-radius: 20px;
    box-shadow: 5px 5px 10px black;
    transition: all .2s ease;
}

.page-contents .container .boxes .box:hover {
    box-shadow: 8px 8px 10px black;
}

.page-contents .container .boxes .box .image {
    height: 100%;
    width: 100%;
}

.page-contents .container .boxes .box .image img {
    height: 100%;
    width: 100%;
    border-radius: 20px;
    box-shadow: 5px 5px 10px black;
    transition: all .4s ease;
}

.page-contents .container .boxes .box .image img:hover {
    transform: scale(1.05);
}

.page-contents .container .boxes .box .text {
    padding: 20px 10px;
}

.page-contents .container .boxes .box .text h2 {
    text-transform: uppercase;
}

.page-contents .container .boxes .box .text p {
    padding: 15px 0;
}
